<header>
  <div class="header-top-row">
    <img src="../../assets/logo1.jpg" alt="app logo" class="header-logo">

    <ng-container *ngIf="!isLogin">
      <button mat-button class="login-button" (click)="openLogin()">Login</button>
    </ng-container>

    <ng-container *ngIf="isLogin">
      <button mat-button class="logout-button" (click)="logout()">Logout</button>
    </ng-container>
  </div>
  <button class="menu-button" mat-icon-button *ngIf="isMobile" (click)="emitMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
</header>
