/* app-header.component.css */

:host {
    display: block; /* 確保 header 標籤佔滿一行 */
}

header {
    display: flex ;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    width: 100%;

    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 增加輕微陰影 */
}

/* 1. Logo 圖片樣式 (靠左) */
.header-logo {
    /* 設置 Logo 尺寸 */
    height: 100px; /* 根據 Header 高度調整 */
    width: auto;

    /* Logo 與 <h1> 之間的分隔空間 */
    flex-shrink: 0; /* 防止 Logo 被壓縮 */
}


/* 3. Login 按鈕樣式 */
header button {
    background-color: #007bff; /* 半透明白色背景 */
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    text-transform: uppercase;
    min-width: 60px;
    margin-right: 50px;
    flex-shrink: 0; /* 防止按鈕被壓縮 */
}

header button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.header-welcom{
  position: absolute;
  top: 30px;
  right: 40px;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
