
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  margin: 0;
  background-color: #ffffff;
  position: relative;
}


app-root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}
